*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #eeaeca 0%, #94d4e9 100%);
}

.wrapper{
    margin: 120px auto;
    max-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.051);
    border-radius: 5px;
    padding: 25px;
}

.wrapper header{
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputField input{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

thead{
    color: #8E49E8;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 1%;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

thead tr{
    width: 400px;
}

thead th{
    width: 400px;
    justify-content: stretch;
}

tbody{
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    padding: 1%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

tbody tr{
    width: 400px;
}

tbody th{
    width: 400px;
    justify-content: stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 1%;
}

.wrapper .footer{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}

.footer button{
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
} 